<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="/aomtang/static/style.css">
  </head>
<body style="background-color: #EEEEEE;">
  <div class="ui inverted segment" style="background-color: #232931;">
    <div class="ui inverted secondary menu">
      <a class="item">
        <i class="wallet icon" 
        style="visibility: visible;"></i>
      </a>
      <a class="item active"
      href="{{url_for('home')}}">
        Home
      </a>
      <a class="item">
        Wallet
      </a>
      <a class="item">
        Saving money
      </a>
      <div class="right menu">
        <a class ="item">
          Profile
        </a>
      </div>
    </div>
  </div>
    {% block content %}
    {% endblock %}
</body>
</html>