{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="column">
      <form class="ui form" method="POST" action="">
        <div style="height: 20px;"></div>
        <h1 style="text-align: center;">Register</h1>
        <div class="field">
          <label>Name</label>
          {{ form.hidden_tag() }}
          {{ form.username }}
          <!-- <input 
                type="text" 
                name="nm"
                aria-describedly="emailHelp"  
                placeholder="Enter email"
            /> -->
          <label>Password</label>
          {{ form.password }}
          <!-- <input 
                type="text" 
                id="email"
                name="email"
                aria-describedly="emailHelp"  
                placeholder="Enter email"
            /> -->
        <!-- </div>
        <div class="field">
          <label>Password</label>
          <input 
                type="password" 
                id="password"
                name="password" 
                placeholder="Enter password"
            />
          </div> -->
          <div style="height: 10px;"></div>
          {{ form.submit(class="fluid ui button" ) }}
          <!-- <div>
            <button class="fluid ui button" type="submit" value="submit" style="background-color: #4ECCA3; color: #EEEEEE;">Login</button>
          </div> -->
      </form>
  </div>
  
    </div>
    <div class="column"></div>
  </div>
</div>
{% endblock %}
