{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div style="width: 100%;
            height: 100%;
            background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGd3dmw4OWJ1aGNvaTYyYTZweWltYW43c2JycmYwZ2UwOWhsYTYzcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/72HahsJD4atSE/giphy.gif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: table;">
    <h1 style= "text-align: center;
                font-size: 100px;
                display: table-cell;
                vertical-align: middle;
                color: #EEEEEE;">
    Aomtang
    </h1>
</div>
<div style="width: 100%;
    margin: auto;
    background-color: #EEEEEE;
    height: auto;">
    <a href="{{url_for('income_expense')}}">
        <button class="ui button"
                style= "height: 200px;
                        width: 24.8%;
                        margin: 0;
                        color: #232931; 
                        font-size: 30px;">Income and Expense</button>
    </a>
    <a href="{{url_for('saving')}}">
        <button class="ui button"
                style= "height: 200px;
                        width: 24.8%;
                        margin: 0;
                        color: #232931; 
                        font-size: 30px;">Saving</button>
    </a>
    <a href="{{url_for('news')}}">
        <button class="ui button"
                style= "height: 200px;
                        width: 24.8%;
                        margin: 0;
                        color: #232931;
                        font-size: 30px;">News</button>
    </a>
    <a href="{{url_for('profile')}}">
        <button class="ui button"
                style= "height: 200px;
                        width: 24.8%;
                        margin: 0;
                        color: #232931;
                        font-size: 30px;">Profile</button>
    </a>
</div>

<footer style= "background-color: #232931;
                width: 100%;
                height: 100px;
                display: table;">
    <h3 style= "text-align: center;
                display: table-cell;
                vertical-align: middle;
                color: #EEEEEE;">
    Create by Suthinan Rongphon
    </h3>

</footer>
{% endblock %}