{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="/aomtang/static/style.css">
</head>
<body style="background-color: #EEEEEE;">
<div class="ui grid"
    style="height: 20%;">
    <div class="three column row">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>
<div class="ui grid"
    style="height: 60%;">
    <div class="three column row">
        <div class="column"></div>
        <div class="column">
            <div style="background-color: #232931;">

            </div>
        </div>            
        <div class="column"></div>
    </div>
</div>
<div class="ui grid"
    style="height: 20%;">
    <div class="three column row">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>
</body>

{% endblock %}