{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<br>
<div style="background-color: #393E46;
            width: 900px;
            margin: auto;
            height: 500px;">
    <br>
    <h1 style="color: #EEEEEE; text-align: center;">Income and Expense</h1>
    <br>
    <form class="ui form" style="margin: 10px;">
        <div class="field">
          <label style="color: #EEEEEE;">Income</label>
          <input type="text" name="Income" placeholder="20">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    <br>
    <form class="ui form" style="margin: 10px;">
        <div class="field">
          <label style="color: #EEEEEE;">Expense</label>
          <input type="text" name="Expense" placeholder="300">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    <div style="width: 100px;
                margin: auto;">
    <a href="{{url_for('dashboard')}}" >
        <button class="ui button">Dashboard</button>    
    </a>
    </div>
</div>
{% endblock %}