{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="column">
      <form class="ui form" method="POST" action="">
        <div style="height: 20px;"></div>
        <h1 style="text-align: center;">Login</h1>
        <div class="field">
          <label>Name</label>
          {{ form.hidden_tag() }}
          {{ form.username() }}
          <label>Password</label>
          {{ form.password }}
          <div style="height: 10px;"></div>
          {{ form.submit(class="fluid ui button" ) }}
      </form>
  </div>
  
    </div>
    <div class="column"></div>
  </div>
</div>
{% endblock %}